<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Form</title>
</head>
<body>
    <h1>Basic Form</h1>
    <!-- <form method="post" action="/login"> -->
    <form method="post" action="{{ url_for('receive_data')}}">
        <label for="name">Name</label>
        <input type="text" name="username" id="username" placeholder="Name"required>
        <label for="name">Password</label>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>